#main-topic{
  font-family: 'Times New Roman', Times, serif;
  margin-left: 80px;
  margin-top:20px;
}
#para1{
    margin-left: 180px;
    margin-right: 250px;
    font-size: 20px;
    text-align: justify;
}
.colored-line{
    color: red;
}
#images{
    margin-left: 220px;
    margin-right: 180px;
}

#heading2{
    color: black;
    /* margin-left: 80px; */
}

.img1{
    width:300px;
    height: 350px;
    margin-left: 5px;
}

.desc{
    margin-left: 250px;
    margin-right: 180px;
    font-size: 25px;
}
ul.square-bullet1{
    list-style-type: square;
    color: red;
    margin-left: 80px;
}
ul.square-bullet2{
    list-style-type: square;
    color: blue;
    margin-left: 80px;
}

.para2{
    font-size: 18px;
    text-align: justify;
    margin-left: 150px;
}
.container{
    display: flex;
    margin: 10px;
    margin-top: 1px;
}
.desc{
    flex: 1;
    margin: 80px; 
}
.photos{
    flex: 0.8;
    background-color: #D9D9D9;
    margin-right: 210px;
    margin-top: 120px;
    text-align: center;
}

.img2{
    width:400px;
    height: 350px;
    margin-left: 5px;
}
#colored-para{
    color: #0047FF;
}
#color-topic{
    background-color: #8F9B00;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font: size 20px;
}

.intro{
   display: flex;
}

.intro1 div{
    flex: 1;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.intro2 div{
    flex: 0.5;
    margin-top: 10px;
    margin-bottom: 19px;
    margin-left: 50px;


}
.intro3 div{
    flex: 1;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #0121C8;
}
#color-topic2{
    background-color: #9B0054;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font: size 20px;
}
#link{
    font-size: 25px;
}
#final{
    font-family: 'Leckerli One', cursive;
    font-size: 50px;
    text-align: center;
    margin-top: 35px;
}